.menu__button {
    padding: 15px 0;
}

.menu__button:hover  .menu__button-icon {
    background-color: #5C3F3F;

}

.menu__button-icon{
    padding: 4px 20px;
    margin-bottom: 8px;
    border-radius: 35px;
}

.menu__button-link {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--px-text);
    font-size: 0.75rem;
    font-weight: 500;
}