* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#root{
    overflow: hidden;
}

html {
    font-family: 'Rubik', sans-serif;
}

a{
    text-decoration: none;
}

button {
    cursor: pointer;
}

ul,li {
    list-style: none;
}

:root {
    --px-theme: #5c3f3f;
    --px-theme-text: #ffdad9;
    --px-bg: #211a1a;
    --px-text: #d7c2c1;
    --px-gray-1: #2f2525;
    --px-gray-2: #362929;
    --px-gray-3: #3c2e2e;
    --px-gray-4: #3e2f2f;
    --px-gray-5: #433232;
    --px-border: #534343;
    --bs-heading-color: #ede0df;
}